.education,
.education__row {
    display : block;
    padding : 0;
    margin  : 0;
}

.education__row {
    position : relative;
}

.education__image-link {
    display  : block;
    position : relative;
}

.education__image-link:after {
    content    : "";
    display    : block;
    position   : absolute;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    background : #000;
    opacity    : 0;
    transition : opacity 0.2s linear 0s;
}

.education__image-link:hover:after {
    opacity : 0.3;
}

.education__image {
    display : block;
    outline : 0;
    border  : 0;
    margin  : 0;
    padding : 0;
    width   : 100%;
    height  : auto;
}

.education__author {
    display         : inline-block;
    margin          : 10px 0 15px;
    color           : #9f9f9f;
    font-size       : 14px;
    line-height     : 1.2;
    font-weight     : 400;
    text-decoration : none;
}

.education__title {
    display         : inline-block;
    margin          : 15px 0 0;
    color           : #000;
    font-size       : 21px;
    line-height     : 1.2;
    font-weight     : 400;
    text-decoration : none;
}

.education__teaser {
    display         : inline-block;
    margin          : 0 0 15px;
    color           : #000;
    font-size       : 14px;
    line-height     : 1.4;
    font-weight     : 400;
    text-decoration : none;
}

.education__teaser p {
    margin : 0;
}
