.article_promo {
    display    : block;
    padding    : 30px 0 120px;
    background : url("article_promo.jpg") 50% 50%/cover no-repeat;
}

.article_promo .article__container {
    margin   : 0 auto;
    position : relative;
}

.article_promo .article__stars:before,
.article_promo .article__likes:before,
.article_promo .article__comments:before,
.article_promo .article__views:before {
    display                 : inline-block;
    vertical-align          : middle;
    margin-right            : 5px;
    font                    : normal normal normal 14px/1 FontAwesome;
    font-size               : inherit;
    text-rendering          : auto;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.article_promo .article__stars:after,
.article_promo .article__likes:after,
.article_promo .article__comments:after,
.article_promo .article__views:after {
    content        : attr(data-value);
    display        : inline-block;
    vertical-align : middle;
}

.article_promo .article__stars {
    display     : none;
    position    : absolute;
    top         : -80px;
    left        : 0;
    font-size   : 26px;
    line-height : 1;
    color       : #fff;
}

.article_promo .article__likes,
.article_promo .article__comments,
.article_promo .article__views {
    display      : inline-block;
    margin-right : 10px;
    color        : #fff;
    line-height  : 1.2;
}

.article_promo .article__stars:before {
    content      : "\f006";
    margin-right : 10px;
}

.article_promo .article__likes:before {
    content : "\f08a";
}

.article_promo .article__comments:before {
    content   : "\f0e5";
    transform : scale(-1, 1);
}

.article_promo .article__views:before {
    content : "\f06e";
}

a.article__comments:after {
    border-bottom : 1px solid;
}

a.article__comments:hover {
    color : #e84810;
}

.article_promo .article__tags {
    display   : block;
    font-size : 0;
    margin    : 0 0 -10px;
}

.article_promo .article__tag {
    display     : inline-block;
    padding     : 5px 15px 6px;
    margin      : 0 15px 10px 0;
    background  : #e84810;
    color       : #fff;
    font-size   : 14px;
    line-height : 1;
    white-space : nowrap;
}

.article_promo .article__title {
    display     : block;
    margin      : 20px 0 40px;
    color       : #fff;
    font-size   : 26px;
    line-height : 1.4;
    font-weight : 700;
}

.article_promo .article__date {
    display     : block;
    margin      : 10px 0;
    color       : #fff;
    font-size   : 12px;
    line-height : 1;
}

.article_promo .article__author {
    display     : block;
    margin      : 10px 0;
    color       : #fff;
    font-size   : 14px;
    line-height : 1.42857143;
}

.article_promo .article__stars {
    position    : absolute;
    top         : -80px;
    left        : 0;
    font-size   : 26px;
    line-height : 1;
    color       : #fff;
}

.article_promo .article__stats {
    margin-top : 30px;
}

@media (max-width : 479px) {
    .article_promo .article__container {
        max-width : 280px;
    }
}

@media (min-width : 480px) and (max-width : 767px) {
    .article_promo .article__container {
        max-width : 420px;
    }
}

@media (min-width : 768px) {
    .article_promo .article__stars {
        display : block;
    }
}

@media (min-width : 1200px) {
    .article_promo .article__container {
        box-sizing    : border-box;
        max-width     : 1170px;
        padding-right : 320px;
    }
}
